body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 97vw;
    display: flex;
    justify-content: center;
}
.container {
    width: 90%;
    max-width: 800px;
    padding-bottom: 5em;
    min-width: 650px;
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-bottom: 0;
    }
    h5 {
        margin-top: 0;
    }
}

form {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

fieldset {
    display: grid;
    gap: 1em;
    padding-bottom: 2em;
    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
            border: 1px solid gray;
            height: 2em;
            border-radius: 3px;
        }
        & > input,
        span {
            width: 30em;
            height: 2em;
            display: flex;
            align-items: center;
            & > input:not(& > input:first-of-type) {
                margin-left: 5em;
            }
        }
        select {
            width: 30em;
            height: 2em;
        }
        span {
            width: 25em;
        }
    }
}
.subjectTitle {
    width: max-content !important;
}
label[for="subjectCombination"] {
    flex-direction: column;
    overflow: hidden;
    height: 400px;
    input {
        position: relative;
        left: -20px;
        top: 20px;
        width: min-content;
        margin-left: unset;
    }
    & > span {
        width: min-content;
        height: max-content;
    }
}
#submit {
    width: 15em;
    padding: 0;
    height: 3em;
    border: 1px solid blueviolet;
    font-size: x-large;
    border-radius: 2em;
    align-self: center;
    &:hover {
        background-color: #1a3248;
        color: white;
    }
}
.error {
    display: none;
    align-self: center;
    font-weight: bold;
    color: red;
}
.subjectCombination {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: 1s ease-in-out left;
    width: 340vw;
    position: relative;
    left: 0;
    align-self: flex-start;
    div {
        display: grid;
        grid-template-columns: repeat(4, 190px);
        padding-left: 2em;
        div {
            width: 680px;
        }
        span {
            display: grid;
            height: max-content;
            width: unset;
            input {
                margin-left: unset !important;
            }
        }
    }
}
table {
    white-space: nowrap;
    flex-basis: 25em;
    height: 3em;
    input {
        width: 100%;
    }
}
#accNumber {
    margin-left: 2.5em;
}
body.PhotoCapturing {
    section {
        margin: 2em;
        display: grid;
        gap: 1em;
        align-items: center;
    }
    .result {
        display: none;
    }
    section#fileUpload{
        display: flex;
    }
    .video {    
        height: 580px;
        width: 520px;
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
    }
    .btn {
        padding: 1em 0;
    }
    #addFile {
        grid-column-start: 2;
    }
    .uploadContainer {
        flex-basis: 80%;
        .elementContainer {
            margin: 1em 0;
        }
        select {
            width: 20em;
            height: 2em;
        }
    }
}
